build
.DS_Store
.env

# logs
logs
*.log
npm-debug.log.*

# dependencies
node_modules

# testing
tests
coverage

# token keys
*private-key.txt
*public-key.txt

# git
.git
.gitignore

# docker
Dockerfile
.dockerignore